html,body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.optionMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;

}
.inference-settings {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px 0px 10px 0px;
}

#fpsDisplay {
    font-weight: bold;
    margin-left: 20px;
    font-size: 1.75rem;
}

.mainContainer {
    display: flex;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    flex-wrap: wrap;
}

#canvas {
    height: 80vh;
    max-width: 100vw;
    border: 2px solid #333;
    display: block;
    margin: 20px auto;
}

tr{
    text-align: center;
}

.colorCell{
    display: flex;
    align-items: center;
    justify-content: center;
}

.dataDisplayContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.modelMetadata {
    display: flex;
    flex-direction: column;
    align-content: center;
}
.modelMetadata>h3 , .modelMetadata>p , .detectionRanks>h3 {
    text-align: center;
}
#dataDisplay,.modelMetadata,.detectionRanks{
    width: 300px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#classCounts table , .detectionRanks table {
    width: 100%;
    border-collapse: collapse;
}
.classButton {
    margin: 5px;
    padding: 5px 10px;
    border: none;
    background-color: #007BFF;
    font-size: large;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}
.classButton:hover {
    background-color: #0056b3;
}
@media screen and (max-width: 600px) {
    .optionMenu {
        flex-direction: column;
    }
    #canvas {
        max-width: 90vw;
        height: auto;
    }
}